dev tun
persist-tun
persist-key
cipher AES-256-CBC
ncp-ciphers AES-128-GCM
auth SHA256
tls-client
client
resolv-retry infinite
remote {{ openvpn_server }} {{ openvpn_port }} udp
verify-x509-name "{{ openvpn_server }}" name
pkcs12 /etc/openvpn/client/client.p12
tls-auth /etc/openvpn/client/client-tls.key 1
remote-cert-tls server
compress
{% for opt in openvpn_extra_opts %}
{{ opt }}
{% endfor %}
